# Ignore Maven build output (except JAR files)
target/classes/
target/test-classes/
target/maven-*
target/generated-*
target/surefire-*
!target/*.jar

# Ignore environment config
.env

# Ignore version control
.git
.gitignore

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
